<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
		<h:panelGrid columns="6">
			<h:outputLabel for="user_email" value="#{msgs.user_email}" />
			<p:inputText id="user_email" value="#{indexControllerImp.user.email}" />

			<h:outputLabel for="user_password" value="#{msgs.user_password}" />
			<p:password id="user_password" value="#{indexControllerImp.user.password}"
				inline="true" />

			<p:commandButton value="#{msgs.actionLogin}"
				action="#{indexControllerImp.actionLogin}" />
			<p:commandButton value="#{msgs.redirectUserRegistration}"
				action="#{indexControllerImp.redirectUserRegistration}" />
		</h:panelGrid>
	</h:form>
</ui:composition>