<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGrid columns="1">
		<h:form>
			<p:dataTable value="#{userGameCrudControllerImp.selectUserGames}"
				var="userGame">
				<p:column headerText="#{msgs.emptyString}">
					<p:selectBooleanCheckbox value="#{userGame.selected}" />
				</p:column>

				<p:column headerText="#{msgs.userGame_game}">
					<h:outputText value="#{userGame.game.name}" />
				</p:column>

				<p:column headerText="#{msgs.userGame_dtSince}">
					<p:inputMask id="userGame_dtSince" value="#{userGame.dtSince}"
						mask="#{msgs.maskYear}">
						<f:convertDateTime pattern="yyyy" />
					</p:inputMask>
				</p:column>

				<p:column headerText="#{msgs.userGame_proficiency}">
					<p:selectOneMenu value="#{userGame.proficiency}"
						converter="entityConverter">
						<f:selectItems value="#{listControllerImp.userGameProficiency}"
							var="proficiency" itemLabel="#{proficiency.description}"
							itemValue="#{proficiency}" />
					</p:selectOneMenu>
				</p:column>

				<p:column headerText="#{msgs.emptyString}">
					<p:commandButton value="#{msgs.redirectAccountUserGameCrud}"
						action="#{userGameCrudControllerImp.redirectAccountUserGameCrud}">
						<f:setPropertyActionListener
							target="#{userGameCrudControllerImp.userGame}"
							value="#{userGame}" />
					</p:commandButton>
				</p:column>

			</p:dataTable>

			<p:commandButton value="#{msgs.actionSave}"
				action="#{userGameCrudControllerImp.actionSaveUserGame}" />
			<p:commandButton value="#{msgs.actionBack}"
				action="#{userGameCrudControllerImp.redirectHome}" />
		</h:form>
	</h:panelGrid>
</ui:composition>