<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel for="accountUserGame_server"
				value="#{msgs.accountUserGame_server}" />
			<p:selectOneMenu id="accountUserGame_server"
				value="#{accountUserGameCrudControllerImp.accountUserGame.server}"
				converter="entityConverter">
				<f:selectItems value="#{accountUserGameCrudControllerImp.accountUserGameServer}"
					var="server" itemLabel="#{server.description}"
					itemValue="#{server}" />
			</p:selectOneMenu>
		</h:panelGrid>
			
		<p:commandButton value="#{msgs.actionSave}"
			action="#{accountUserGameCrudControllerImp.actionSaveAccountUserGame}" />
		<p:commandButton value="#{msgs.actionBack}"
			action="#{accountUserGameCrudControllerImp.redirectHome}" />
	</h:form>
</ui:composition>