<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view locale="#{facesContext.externalContext.requestLocale}">
	<h:head>
		<title>#{msgs.titleSiteName}</title>
	</h:head>
	<h:body>
		<p:layout fullPage="true">
			<p:layoutUnit position="west" size="75" styleClass="gg-sideBar" />
			<p:layoutUnit position="center">
				<p:layout>
					<p:layoutUnit position="north" size="100" header="#{msgs.titleSiteName}">
						<ui:insert name="top">
							<ui:include src="/pages/home.top.xhtml" />
						</ui:insert>
					</p:layoutUnit>

					<p:layoutUnit position="west" size="200" header="#{msgs.titleMenu}">
						<ui:insert name="left">
							<ui:include src="/pages/home.left.xhtml" />
						</ui:insert>
					</p:layoutUnit>

					<p:layoutUnit position="center" header="#{msgs.titleWelcome}">
						<h:form id="messages">
							<p:messages id="messages" showDetail="true" autoUpdate="true"
								closable="true" />
						</h:form>

						<ui:insert name="middle">
							<ui:include src="/pages/home.middle.xhtml" />
						</ui:insert>
					</p:layoutUnit>
				</p:layout>
			</p:layoutUnit>
			<p:layoutUnit position="east" size="75" styleClass="gg-sideBar" />
		</p:layout>
	</h:body>
</f:view>
</html>